.python-analyzer-view.tokenizer {
  display: flex;
  justify-content: center;

  div {
    margin: 0.5em;
  }

  .editor {
    max-width: 30em;
    flex-grow: 1;

    textarea {
      width: 100%;
      height: 10em;
      overflow: auto;
    }
  }

  .output {
    min-width: 5em;
    max-width: 20em;
    flex-grow: 1;
  }

  button {
    display: block;
  }
}
