// Container for a block diagram using react-diagrams, which needs a fixed
// height and a container sized to fill that.
@mixin block-diagram {
  font-size: 16px;
  height: 500px;

  .block-diagram-canvas {
    height: 100%;
  }
}

// A generic node in a block diagram. Different diagrams may need to customise
// this, but this should be a useful common base.
@mixin block-diagram-node {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #bbb;
  min-width: 100px;

  .node-label {
    background: #5af;
    border-radius: 6px 6px 0 0;
    padding: 6px;
  }

  .input-port {
    float: left;
    height: 1em;
  }

  .node-value {
    padding: 6px;
  }

  .node-link {
    display: flex;
    padding: 6px;

    > .link-label {
      flex-grow: 1;
    }

    > .port {
      flex-grow: 0;
    }
  }
}

.python-analyzer-view {
  &.tokenizer {
    display: flex;
    justify-content: center;

    div {
      margin: 0.5em;
    }

    .editor {
      flex-grow: 1;
      max-width: 30em;

      textarea {
        height: 10em;
        overflow: auto;
        width: 100%;
      }
    }

    .output {
      flex-grow: 1;
      max-width: 20em;
      min-width: 5em;
    }

    button {
      display: block;
    }
  }

  &.parse-tree {
    @include block-diagram;

    .ast-node {
      @include block-diagram-node;
    }
  }

  &.object-tree {
    @include block-diagram;

    .object-tree-node {
      @include block-diagram-node;
    }
  }
}
